@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView Roles="Account">
    <button onclick="AddReviews">Add Reviews</button>
</AuthorizeView>
<AuthorizeView Roles="User, Account">
    <p>Welcome, you can browse all the reviews!</p>
</AuthorizeView>

@code {
    
}